.products {
  display: flex;
  flex-wrap: wrap;

}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;

}

body {
  background-color: #f6f6f6;
}



.cont {
  display: flex;
  justify-content: center;

}

.back {
background-color: #f4eddd; 
padding: 20px;
margin-left: 20px;
margin-right: 20px;
font-family: 'Encode Sans Semi Expanded', sans-serif;



}

.change {
background-color: #091057;
color: white;
padding: 9px;
margin:5px;
border: none;
font-family: 'Encode Sans Semi Expanded', sans-serif;

}

h3, h4 {
font-family: 'Encode Sans Semi Expanded', sans-serif;

}

button {
margin: 10px;

}

nav {
  background: #cfd8dc;
  display: flex;
  justify-content:space-evenly;
  padding: 15px;
  margin: 5px;
}

.link a {
  padding: 10px 40px;
  color: black;
  text-transform: uppercase;
  text-decoration:none;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  }
  
  button {
  background-color: #C96868;
  color: white;
  border: none;
  text-transform: uppercase; 
  margin-top: 20px;
  padding: 10px;
  
  }
  
    
    btn {
      background: white;
      border: none; 
      font-size: 15px;
      color: #973131;
    }
  
    .previous {
      margin: 15px;
    }
  
    .next {
      margin: 15px;
    }
  


